input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}
tr{
  color: black;
}
th{
  color: black;
}
#table{
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden; 
}
#deaths_table{
  width: 200px;
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 20px;
}
#recovered_table{
  width: 200px;
  height: 300px;
  overflow: scroll;
  margin-bottom: 20px;
}
.btn-default{
  color: black;
  background-color: white;
  /*width: 140px !important;*/
  font-size: 12px;
}
.slider-animate-container{
  display: none;
}
.control-label{
  display: none;
}
.irs.js-irs-0.irs-with-grid{
  display: none;
}
body, label, input, button, select {
  color:  black;
  /*background-color: #090909;*/
  background-color : white;
  margin-top: 2%;
  margin-left: 2%;
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}

h1, h2, h3, h4 { font-weight: 400; }
